.control {
  margin: 1rem 0;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  padding: 0.2rem;
  border: 1px solid #ccc;
  width: calc(50% - 2rem);
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #230052;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}