.control input,
.control textarea {
  font: inherit;
  padding: 0.2rem;
  border: 1px solid #ccc;
  width: calc(50% - 2rem);
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #230052;
}

.control form{
  display: flex;
  justify-content: center;
}